option_settings:
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
    NodeCommand: "node server.js"
    GzipCompression: true
  
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    NODE_OPTIONS: "--max-old-space-size=256"

  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: demo-eb-instance-profile
  
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

  aws:elasticbeanstalk:xray:
    XRayEnabled: false
